/* body{display: flex;} */
html,body{height: 100%;}
.content{display: flex; flex-direction: column;}
header{position: relative; z-index: 2; position: fixed; top: 0; width: 100%; height: .92rem; background: #fff;}
.w688{box-sizing: border-box; padding: 0 .31rem; margin: 0 auto;}
header .logo{line-height: .92rem; font-size: .4rem; color: #f53549; font-weight: bolder;}
header a.back{position: absolute; left: 0; display: block; width: .78rem; height: .88rem; background: url('../img/list/back.png') no-repeat center; background-size: .15rem .27rem;}
header .search{position: absolute; top: 0; bottom: 0; left: .88rem; margin: auto; width: 6.3rem; height: .6rem; background: #f7f4f4; font-size: .26rem; font-weight: bold; color: #999999; border-radius: .6rem;}
header .search img{position: absolute; top: 0; bottom: 0; left: .2rem; margin: auto; width: .28rem; height: .28rem;}
header i{display: block; width: .28rem; height: .28rem; background: url('../img/search.png') no-repeat center; background-size: 100%;}
header input{margin-left: .62rem; height: .6rem; width: 5.28rem;}
header img.message{position: absolute; top: 0; bottom: 0; right: .31rem; margin: auto; display: block; width: .4rem; height: .29rem;}
header i{display: none; position: absolute; top: .24rem; right: .27rem; width: .16rem; height: .16rem; background: #f53549; border-radius: 50%;}
header i.show{display: block;}
.con1{margin: .92rem 0 .9rem 0; width: 100%;}
.con1 .left{position: fixed; overflow: hidden; width: 1.8rem; background: #f7f4f4;}
.con1 .left ul{position: relative;}
.con1 .left ul li{width: 1.8rem; height: .88rem; line-height: .88rem; text-align: center; font-size: .26rem;}
.con1 .left ul li i{display: none;}
.con1 .left ul li.active{font-size: .3rem; background: #fff;}
.con1 .left ul li.active i{display: block; float: left; height: .88rem; width: .04rem; background: #f53549;}
.con1 .container{margin-left: 1.8rem; width: calc(100% - 1.8rem); flex: 1; display: flex; flex-direction: column; overflow: auto;}
.con1 .container p.title{position: relative; width: 100%; height: .76rem; line-height: .76rem; text-align: center; font-size: .26rem; color: #5c5c5c;}
.con1 .container p.title::before,.con1 .container p.title::after{position: absolute; top: .34rem; content: ''; width: .78rem; height: .01rem; background: #999;}
.con1 .container p.title::before{left: 1.24rem;}
.con1 .container p.title::after{left: 3.62rem;}
.con1 .container ul{overflow: auto;}
.con1 .container ul{flex: 1; overflow: hidden; width: 100%;}
.con1 .container ul li{float: left; width: 33.2%; height: 2.32rem;}
.con1 .container ul li dl dt{position: relative; width: 100%; height: 1.6rem;}
.con1 .container ul li dl dt img{position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; display: block; width: 80%; height: auto;}
.con1 .container ul li dl dd{height: .44rem; line-height: .44rem; text-align: center; font-size: .22rem; color: #5c5c5c;}
footer{position: fixed; bottom: 0; width: 100%; height: .9rem; background: #fafafa;}
footer dl{float: left; width: 25%;}
footer dl dt{position: relative; height: .52rem; overflow: hidden; text-align: center;}
footer dl dt img{position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; display: block;}
footer dl:nth-of-type(1) dt img{width: .38rem; height: .35rem;}
footer dl:nth-of-type(2) dd{color: #F83244;}
footer dl:nth-of-type(2) dt img{width: .28rem; height: .35rem;}
footer dl:nth-of-type(3) dt img{width: .33rem; height: .35rem;}
footer dl:nth-of-type(4) dt img{width: .3rem; height: .35rem;}
footer dl dd{font-size: .22rem; text-align: center;}
